---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="h-full w-full flex flex-col items-center justify-center gap-2">
		<h1 class="text-5xl font-bold">fxvlr</h1>
		<h2>Add more information to vlr.gg's embeds.</h2>
		<p id="newUrl" class="bg-red-200">Waiting for url.</p>
		<input
			id="url"
			class="rounded border p-2 max-w-96 w-full"
			placeholder="https://vlr.gg/..."
		/>
	</main>
</Layout>

<script>
	const $input: HTMLInputElement = document.querySelector("#url")!;
	const $newUrl: HTMLParagraphElement = document.querySelector("#newUrl")!;

	$input.addEventListener("input", () => {
		try {
			const url = new URL($input.value!);
			if (url.hostname === "vlr.gg" || url.hostname === "www.vlr.gg") {
				const newUrl = `https://vlr.ticua.ar${url.pathname}`
				$newUrl.textContent = newUrl;
			}
		} catch (err) {
			$newUrl.textContent = "Waiting for url."
		}

	})
</script>